In [20]:
import numpy as np
import pandas as pd
#通过series创建
s1=pd.Series([1,2,3])
s2=pd.Series([4,5,6])
df=pd.DataFrame({'第1列':s1,'第2列':2})
df

   第1列  第2列
0    1    2
1    2    2
2    3    2

In [30]:
#通过字典创建（更常用）：
df=pd.DataFrame(
    {  
        "name":['tom','jack','alice','bob','allen'], #这里有逗号
        "age":[15,24,25,35,59], #这里有逗号
        'score':[60,85,86,90,46]
    },index=[1,2,3,4,5],columns=["name","age",'score']
)
df

    name  age  score
1    tom   15     60
2   jack   24     85
3  alice   25     86
4    bob   35     90
5  allen   59     46

In [24]:
#dataframe的属性
print('行索引:')
print(df.index)
print('列索引:')
print(df.columns)
print('值')
print(df.values)

行索引:
Index([1, 2, 3, 4, 5], dtype='int64')
列索引:
Index(['name', 'age', 'score'], dtype='object')
值
[['tom' 15 60]
 ['jack' 24 85]
 ['alice' 25 86]
 ['bob' 35 90]
 ['allen' 59 46]]

In [26]:
print('维度：',df.ndim)
print('形状：',df.shape)
print('元素个数：',df.size)
print('数据类型：',df.dtypes)

维度： 2
形状： (5, 3)
元素个数： 15
数据类型： name     object
age       int64
score     int64
dtype: object

In [28]:
#行列转置
#print(df.T)
#print(df.T.index)

         1     2      3    4      5
name   tom  jack  alice  bob  allen
age     15    24     25   35     59
score   60    85     86   90     46
Index(['name', 'age', 'score'], dtype='object')

In [34]:
#某行
print(df.loc[4]) #显示索引，根据定义的索引下标
print(df.iloc[3]) #根据0、1、2进行索引

name     bob
age       35
score     90
Name: 4, dtype: object
name     bob
age       35
score     90
Name: 4, dtype: object

In [36]:
#某列
print(df.loc[:,'name'])
print(df.iloc[:,0])

1      tom
2     jack
3    alice
4      bob
5    allen
Name: name, dtype: object
1      tom
2     jack
3    alice
4      bob
5    allen
Name: name, dtype: object

In [39]:
#单个元素时loc=at,iloc=iat(loc和iloc可以切片在某行某列时)
print(df.at[3,'score'])
print(df.iat[2,2])
print(df.loc[3,'score'])
print(df.iloc[2,2])

86
86
86
86