In [1]:
import numpy as np
import pandas as pd
df=pd.DataFrame(
    {  
        "name":['tom','jack','alice','bob','allen'], #这里有逗号
        "age":[15,24,25,35,59], #这里有逗号
        'score':[60,85,86,90,46]
    },index=[1,2,3,4,5],columns=["name","age",'score']
)
df

    name  age  score
1    tom   15     60
2   jack   24     85
3  alice   25     86
4    bob   35     90
5  allen   59     46

In [2]:
print(df.head(2))
print(df.tail(1))

   name  age  score
1   tom   15     60
2  jack   24     85
    name  age  score
5  allen   59     46

In [5]:
print(df.isin(['jack',24]))     #查看某元素是否在参数集合中
print(df.isna())                #查看是否有缺失值

    name    age  score
1  False  False  False
2   True   True  False
3  False  False  False
4  False  False  False
5  False  False  False
    name    age  score
1  False  False  False
2  False  False  False
3  False  False  False
4  False  False  False
5  False  False  False

In [9]:
print(df['score'].sum())  #某一列的总和
print(df.score.max())
print(df.score.min())
print(df.score.mean())    #平均数
print(df.score.median())  #中位数
print(df.score.mode())  #都出现一次，都输出

367
90
46
73.4
85.0
0    46
1    60
2    85
3    86
4    90
Name: score, dtype: int64

In [11]:
print(df.score.std())  #标准差
print(df.score.var())  #方差
print(df.score.quantile(0.25)) #分位数

19.3597520645281
374.8
60.0

In [14]:
print(df.describe())
print('\n')
print(df.count())

             age      score
count   5.000000   5.000000
mean   31.600000  73.400000
std    16.876018  19.359752
min    15.000000  46.000000
25%    24.000000  60.000000
50%    25.000000  85.000000
75%    35.000000  86.000000
max    59.000000  90.000000


name     5
age      5
score    5
dtype: int64

In [16]:
print(df.value_counts())  #值出现的次数（某行）

name   age  score
alice  25   86       1
allen  59   46       1
bob    35   90       1
jack   24   85       1
tom    15   60       1
Name: count, dtype: int64

In [20]:
print(df.drop_duplicates()) #去重
print('\n')
print(df.duplicated(subset=['score'])) #查看某列的重复
print('\n')
print(df.replace(20,30))   #将20替换为30

    name  age  score
1    tom   15     60
2   jack   24     85
3  alice   25     86
4    bob   35     90
5  allen   59     46


1    False
2    False
3    False
4    False
5    False
dtype: bool


    name  age  score
1    tom   15     60
2   jack   24     85
3  alice   25     86
4    bob   35     90
5  allen   59     46

In [22]:
df.cumsum() #累积和
df.cummin() #累积最小的

    name  age  score
1    tom   15     60
2   jack   15     60
3  alice   15     60
4  alice   15     60
5  alice   15     46

In [24]:
print(df.sort_index(ascending=False)) #按索引降序排序
print('\n')
print(df.sort_values(by=['score','age'],ascending=[True,False])) #按值排序，先按score升序排，再按age降序排

    name  age  score
5  allen   59     46
4    bob   35     90
3  alice   25     86
2   jack   24     85
1    tom   15     60


    name  age  score
5  allen   59     46
1    tom   15     60
2   jack   24     85
3  alice   25     86
4    bob   35     90

In [26]:
df.nlargest(2,columns=['score','age']) #按score、age列返回最大两行
df.nsmallest(2,columns=['score','age'])

    name  age  score
5  allen   59     46
1    tom   15     60